/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    overflow-x: hidden;
}

header {
    background-color: #1e1e1e;
    width: 100%;
    padding: 15px 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.navbar .logo h1 {
    font-size: 24px;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
}

nav a:hover {
    text-decoration: underline;
}

.token-creator {
    max-width: 1000px;
    padding: 30px;
    background-color: #232323;
    border-radius: 10px;
    width: 90%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    margin-top: 100px;
}

.token-creator h2 {
    font-size: 28px;
    margin-bottom: 20px;
    text-align: center;
}

.wallet-btn {
    padding: 15px;
    background-color: #0096ff;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    width: 100%;
    margin-bottom: 20px;
    cursor: pointer;
}

.wallet-btn:hover {
    background-color: #007acc;
}

.creator-form form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.creator-form label {
    font-size: 16px;
    color: #e1e1e1;
}

.creator-form input, .creator-form textarea {
    padding: 10px;
    font-size: 16px;
    background-color: #333333;
    border: none;
    border-radius: 5px;
    color: white;
}

.creator-form textarea {
    resize: vertical;
    height: 120px;
}

.options label {
    font-size: 14px;
    margin-left: 5px;
    color: #e1e1e1;
}

button.create-btn {
    padding: 15px;
    background-color: #0096ff;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}

button.create-btn:hover {
    background-color: #007acc;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #1e1e1e;
    margin-top: 50px;
    width: 100%;
    position: fixed;
    bottom: 0;
}

.info h3 {
    margin-top: 30px;
    font-size: 20px;
    text-align: center;
}

.info ul {
    list-style-type: none;
    margin-top: 10px;
}

.info li {
    font-size: 16px;
    margin-bottom: 10px;
}

.creator-form input[type="file"] {
    background-color: transparent;
    color: #ffffff;
    border: 1px solid #888;
    padding: 10px;
    border-radius: 5px;
}

.creator-form input[type="file"]:hover {
    background-color: #444444;
}

.creator-form input[type="number"],
.creator-form input[type="text"] {
    width: 100%;
}

.creator-form .options {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

