/* Caja del formulario */
.form-box {
    max-width: 700px;
    margin: 40px auto;
    padding: 25px;
    background: rgba(20,20,20,0.75);
    border: 1px solid red;
    border-radius: 10px;
    backdrop-filter: blur(3px);
}

.form-box label {
    margin-top: 15px;
    font-weight: bold;
    display: block;
}

.form-box input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 6px;
    border: none;
}

/* Botón de formulario */
.form-box button {
    width: 100%;
    margin-top: 20px;
    padding: 14px;
    background: red;
    color: black;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.form-box button:hover {
    background: #ff3333;
}

/* Caja de logs */
.log-box {
    margin-top: 20px;
    padding: 12px;
    background: rgba(0,0,0,0.8);
    min-height: 120px;
    border-radius: 8px;
    white-space: pre-line;
    color: #0f0;
    font-family: monospace;
}
